<!DOCTYPE html>
<html>
<head>
    <title>Recorridos</title>
</head>
<body>
    <h1>Lista de Recorridos</h1>
    <a href="/">Volver</a>
    <ul>
        {% for recorrido in recorridos %}
            <li>
                Conductor: {{ recorrido.conductor }} |
                Tiempo Total: {{ recorrido.tiempo_total }} seg |
                Tiempo Parado: {{ recorrido.tiempo_parado }} seg |
                Tiempo Movimiento: {{ recorrido.tiempo_movimiento }} seg |
                Total Pagar: €{{ recorrido.total_pagar }} |
                Fecha: {{ recorrido.fecha_registro }}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
